# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# -------------------------
# macOS
# -------------------------
.DS_Store

# -------------------------
# Virtual environments
# -------------------------
edc_diff_env/
venv/
env/
.venv/

# -------------------------
# Datasets (DO NOT PUSH)
# -------------------------
APTOS/
OCT/
ISIC2018/
Br35H/
LungCT/
ODIR_v2/

# -------------------------
# Training outputs
# -------------------------
saved_models/
*.pth
*.pt
*.ckpt
*.log

# -------------------------
# Misc
# -------------------------
*.zip
*.tar.gz

